In [7]:
#1. Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in
#the list.

def sum_of_even_numbers(numbers):
    """
    Returns the sum of all even numbers in the given list.

    Parameters:
    numbers (list): A list of integers.

    Returns:
    int: Sum of even integers in the list.
    """
    return sum(num for num in numbers if num % 2 == 0)

In [8]:
#2. Create a Python function that accepts a string and returns the reverse of that string.
def reverse_string(s):
    """
    Returns the reverse of the given string.

    Parameters:
    s (str): The input string.

    Returns:
    str: The reversed string.
    """
    return s[::-1]

In [9]:
#3.Implement a Python function that takes a list of integers and returns a new list containing the squares of
#each number.
def square_numbers(numbers):

    return [num ** 2 for num in numbers]

result = square_numbers([1, 2, 3, 4, 5])
print(result)

[1, 4, 9, 16, 25]

In [11]:
#5. Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of
#terms.
class FibonacciIterator:

    def __init__(self, max_terms):
        self.max_terms = max_terms
        self.count = 0
        self.a, self.b = 0, 1

    def __iter__(self):
        return self

    def __next__(self):
        if self.count >= self.max_terms:
            raise StopIteration
        if self.count == 0:
            self.count += 1
            return 0
        elif self.count == 1:
            self.count += 1
            return 1
        else:
            self.a, self.b = self.b, self.a + self.b
            self.count += 1
            return self.a


fib = FibonacciIterator(10)
for num in fib:
    print(num, end=' ')

0 1 1 1 2 3 5 8 13 21

In [12]:
#6.Write a generator function in Python that yields the powers of 2 up to a given exponent.
def powers_of_two(max_exponent):

    for exp in range(max_exponent + 1):
        yield 2 ** exp

for power in powers_of_two(5):
    print(power, end=' ')

1 2 4 8 16 32

In [17]:
#7. Implement a generator function that reads a file line by line and yields each line as a string
def read_file_lines(file_path):
    try:
        with open(file_path, 'r') as file:
            for line in file:
                yield line.rstrip('\n')
    except FileNotFoundError:
        print(f"File not found: {file_path}")
    except IOError as e:
        print(f"I/O error({e.errno}): {e.strerror}")

for line in read_file_lines('example.txt'):
    print(line)

File not found: example.txt

In [18]:
#8. Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.
data = [(1, 3), (2, 1), (4, 2), (5, 0)]
sorted_data = sorted(data, key=lambda x: x[1])
print(sorted_data)

[(5, 0), (2, 1), (4, 2), (1, 3)]

In [19]:
#9.Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.
celsius = [0, 10, 20, 30, 40]
fahrenheit = list(map(lambda c: (c * 9/5) + 32, celsius))
print(fahrenheit)

[32.0, 50.0, 68.0, 86.0, 104.0]

In [20]:
#10.Create a Python program that uses `filter()` to remove all the vowels from a given string.
input_string = "Hello World"
vowels = 'aeiouAEIOU'
filtered_string = ''.join(filter(lambda ch: ch not in vowels, input_string))
print(filtered_string)

Hll Wrld

In [21]:
#11.Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:
# Given book order data
orders = [
    (34587, "Learning Python, Mark Lutz", 4, 40.95),
    (98762, "Programming Python, Mark Lutz", 5, 56.80),
    (77226, "Head First Python, Paul Barry", 3, 32.95),
    (88112, "Einf√ºhrung in Python3, Bernd Klein", 3, 24.99)
]

# Using lambda and map to compute the required tuples
result = list(map(lambda order: (order[0], order[2] * order[3] + (10 if order[2] * order[3] < 100 else 0)), orders))

print(result)

[(34587, 163.8), (98762, 284.0), (77226, 108.85000000000001), (88112, 84.97)]

In [10]:
#4. Write a Python function that checks if a given number is prime or not from 1 to 200.
def is_prime(n):

    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

# Example usage and output for numbers from 1 to 200
for number in range(1, 201):
    if is_prime(number):
        print(number, end=' ')  # Output: prime numbers from 1 to 200

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97 101 103 107 109 113 127 131 137 139 149 151 157 163 167 173 179 181 191 193 197 199